# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Logs
*.log

# VSCode config (optional)
.vscode/

#also test cases as it uses local paths
test_cases/
# macOS metadata (optional)
.DS_Store
*.nuget.cache 
"test_cases/" 
